.app-title{
  font-weight: 700;
  padding: 0 5px;
  font-size: 1.5rem;
}

.sidebar-toolbar{
  padding: 1.5rem .5rem;
}

.avatar-thumbnail{
  margin-right: 0.5rem;
}

.avatar{
  height: 7rem;
  width: 7rem;
}

.avatar-wrapper{
  transform: translateY(50%);
  position: relative;
  z-index: 1;
}

.user-label{
  letter-spacing: 1px;
}

ion-icon {
  color: #313331;
}

.side-menu-item{
  font-weight: 700;
  font-size: 1.25rem;
}

.app-main {
  --background: linear-gradient(45deg, #ff5f6d, #ffc371);
}

.card {
  margin: unset;
  height: calc(100vh - 13.5rem);  
}

.card-header{
  margin-top: 4.5rem;
}

