@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&family=Ranchers&display=swap');
// #eef5ee
* {
  --ion-font-family: 'Montserrat', sans-serif;
  --ion-background-color: #f0f6f7;
  --ion-toolbar-background: #f8f9fa;
  --ion-item-background:  #f8f9fa;
  --ion-text-color: #313331;
}