.signup-ctnt-warpper{
    // border: 1px solid greenyellow;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}

.signup-pg-warpper{
    --background: #f0f6f7;
}

.header{
    background: white;
    box-shadow: 0 1px 5px #888484;
}